.user-filters {
  margin-bottom: var(--spacing-lg);
  flex: 1;
  min-width: 0;
}

.user-filters .input-wrapper {
  max-width: 400px;
  width: 100%;
}

@media (max-width: 767px) {
  .user-filters {
    margin-bottom: var(--spacing-md);
    width: 100%;
  }

  .user-filters .input-wrapper {
    max-width: 100%;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .user-filters .input-wrapper {
    max-width: 300px;
  }
}

