@media (min-width: 768px) {
  .container {
    max-width: 720px;
    margin: 0 auto;
    padding: 0 var(--spacing-md);
  }
}

@media (min-width: 1024px) {
  .container {
    max-width: 960px;
  }
}

@media (min-width: 1440px) {
  .container {
    max-width: 1320px;
  }
}

.hide-mobile {
  display: none;
}

@media (min-width: 768px) {
  .hide-mobile {
    display: block;
  }

  .hide-desktop {
    display: none;
  }
}

@media (hover: none) and (pointer: coarse) {
  button,
  a,
  .btn {
    min-height: 44px;
    min-width: 44px;
  }
}

@media (max-width: 767px) and (orientation: landscape) {
  .modal-content {
    max-height: 85vh;
  }
}
